body.cart-page {
  background-image:url(plush\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(2px);
}
.category-list {
  display: flex;
  overflow-x: auto; /* Enable horizontal scrolling if cards overflow */
}

.category-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  min-width: 200px; /* Set minimum width of each card */
}

.category-card:hover {
  transform: scale(1.05);
}

.price {
  font-size: 1.2rem;
  color: #ff6600;
  font-weight: bolder;
}

.button-container {
  display: flex;
  justify-content: center;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #45a049;
}
.cart-section {
  margin-top: 40px;
  background-color: #fff; /* Set white background for the shopping cart */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  font-weight: 900;
}
.cart-section p{
  text-align: center;
  
}
.checkout-btn{
  align-items: center;
  font-weight: bolder;
  font-size: 1em;
}

