/* Logo.css */

.home {
    display: flex;
    align-items: center;
    text-decoration: none;/* Adjust the color as needed */
  }
  
  .logo-img {
    width: 60px; /* Adjust the width of the logo image as needed */
    height: 60px; /* Maintain aspect ratio */
    margin-right: 10px;
    border-radius: 50%;
    overflow: hidden; /* Adjust the margin as needed */
  }
  
  .trailblazer {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    color:pink;
  }
  
  /* You can add additional styling based on your design preferences */
  