body{
    background-color: white;
}
.navbar {
    padding: 10px 10px;
   }
   .home {
    text-decoration: none;
    color: rgb(236, 232, 232);
    font-weight: bold;
    transition: background-color 0.3s;
    font-style: italic;
   }
   
   .nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background:transparent;
   }
   
   .nav-item {
    margin: auto;
    background:transparent;
   }
   
   .nav-link {
    text-decoration: none;
    color: rgb(241, 235, 235);
    font-weight: bold;
    padding: 5px 5px;
    border-radius: 10px;
    background:transparent;
    transition: background-color 0.3s;
    font-size: 20px;
   }
   
   .nav-link:hover {
    background-color: #555;
   }
   .logout-button{
    margin:auto;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 10px;
    background: transparent;
    transition: background-color 0.3s;
    font-size: 18px;
   }
   .logout-button:hover {
    background-color: #555;
   }